@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}
ul{
	list-style:none outside none;
	margin-top:0px;
	}
.li{
	list-style-type:none;
	vertical-align:middle;
	float:left;
	width:100px;
	margin-right:2px;
	margin-top:0px;
	display: inline-block;
	background-color: #FFB7FF;
	line-height:50px;
	}
.header{
	width:1024px;
    height:200px; 
	background-color:#FCC; 
	margin:0 auto;
	background-image: url(../image/banner.jpg)
	}
.nav{
	width:1024px; 
	height:50px; 
	margin:0 auto; 
	}
	
a:link{
	color:#000;
	text-decoration:none;
	}
a:visited{
	text-decoration:underline;
	}
a:hover{
	color:#FFF;
	font-weight:bold;
	text-decoration:underline;
	background:#F00;
	}
.d1{
	height:50px;
	width:1024px;
	margin:0 auto; 
	border-bottom: #999 thin solid;
	}
.d2{
	margin:0 auto; 
	width:1024px;
	height:400px;
	
	
	}
.footer{
	margin:0 auto;
	height:150px;
	width:1024px;
	border-top:#999 thin solid;
	margin-top:20px;
	text-align:center;
	padding-top:40px;
	
	}/* CSS Document */

