<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link  rel="stylesheet" type="text/css" href="css/moban.css">
</head>

<body>
    <div class="header">
    </div>
    <div  align="center" class="nav">
        <ul>
            <li class="li">首页 </li>
            <li class="li"><a href="">内容1</a></li>
            <li class="li"><a href="">内容2</a></li>
            <li class="li"><a href="">内容3</a></li>
            <li class="li"><a href="">内容4</a></li>
            <li class="li"><a href="">内容5</a></li>
            <li class="li"><a href="">内容6</a></li>
            <li class="li">&nbsp;&nbsp;</li>
            <li class="li">&nbsp;&nbsp;</li>
            <li class="li">&nbsp;&nbsp;</li>
        </ul>
    </div>

    <div class="content">
        <div class="cleft">
            <div class="c1">
                <div style="height:40px; width:680px; background-color: #D8D8D8; float:left; padding-top:">
                        <p class="p1" >&nbsp;&nbsp;内容</p>
                </div>
                <div class="p2">
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
             <div class="c1">
                <div style="height:40px; width:680px; background-color: #D9D9D9; float:left; padding-top:">
                        <p class="p1" >&nbsp;&nbsp;内容</p>
                </div>
                <div class="p2">
                    <ul>
                        <li>你你你你你</li>
                        <li>你你你你你</li>
                    </ul>
                </div>
            </div>        
        </div>

    <div class="cright">
    	<div class="c2" >
        	<div style="height:40px; width:300px; background-color:#D9D9D9">
             <p class="p1" >&nbsp;&nbsp;通告</p>
            </div>
        </div>
        <div class="c2">
           <div style="height:40px; width:300px; background-color:#D9D9D9">
             <p class="p1" >&nbsp;&nbsp;资源</p>
           </div>
        </div>
    </div>
    </div>
    <div class="footer">@copyright</div>
</body>
</html>
