<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <title>网站模板</title>
         <link  type="text/css" rel="stylesheet" href="css/model.css">
    </head>
    <body>
        <div id="head">
            
        </div>
        <div id="menu">
             <ul>
                <li><a href="model2.html"><strong>首页</strong></a></li>
                <li><a href="model2.html"><strong>教学管理</strong></a></li>
                <li><a href="model2.html"><strong>教学通知</strong></a></li>
                <li><a href="model2.html"><strong>教学内容</strong></a></li>
                <li><a href="model2.html"><strong>教学课件</strong></a></li>
             </ul>
        </div>
   
    </body>
 </html>
>
